header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
    margin-right: 10px;
}

.logo span {
  color: MediumAquamarine;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}
header nav {
  padding-right: 40px;
}

a {
  color: black;
}

body: {
  margin: 0;
}

.content {
  display: flex;
  padding-top: 120px;
  width: 1250px;
  margin: 0px auto 80px auto;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}

.large .column {
  width: 630px;
}

.medium .column {
  width: 300px;
}

.small .column {
  width: 240px;
}

div {
  border: 1px solid black;
}

.headline {
  background-image: url(/Users/thomasbishop/Documents/Projects/mytimes/resources/images/img-story-main.png);
  color: white;
  height: 250px;
  font-size: 40px;
}

.cats {
  background-image: url(/Users/thomasbishop/Documents/Projects/mytimes/resources/images/img-story-1.png);
  height: 300px;
  width: 300px;
  color: white;
  text-align: center;
}

.earth {
  background-image: url(/Users/thomasbishop/Documents/Projects/mytimes/resources/images/img-story-2.png);
  color: white;
  height: 300px;
  text-align: center;
}

.research {
  background-image: url(/Users/thomasbishop/Documents/Projects/mytimes/resources/images/img-story-3.png);
  color: white;
  height: 300px;
  text-align: center;
}

.paragraph {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.imgtxt {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
